<style define:vars={{skillColor, fontWeight, textCase}}>
h1 {
  color: purple;
  font-size: 4rem;
}
.skill {
  color: var(--skillColor);
  font-weight: var(--fontWeight);
  text-transform: var(--textCase);
}
</style>